*{
  background-color: white;
  font-family: 'Permanent Marker', cursive;
  color:rgb(207, 171, 162);
}

body {
  width:90%;
  margin: 0 auto;
  text-align: center;
}

#content {
  overflow: 0 auto;
}

#nav, #heroImage, #footer {
  margin: 1%;
}

h4 {
  background-color: white;
  color: rgb(207, 171, 162);
}

.aColumn1, .aColumn2, .aColumn3, .aColumn4, .aColumn5, .aColumn6 {
  width: 31.3%; 
  float: left;
  margin: 1%;
  background-color: rgb(207, 171, 162);
  padding-bottom: 20px;
  color: white; 
}

.acolumn3 {
  margin-right: 0%;
}

ul {
  background-color: rgb(207, 171, 162);
}

li {
  background-color: rgb(207, 171, 162);
  display: inline;
  padding: 0em 2em 0em 2em;
}

li a {
  background-color:rgb(207, 171, 162);
  color: white;
  text-decoration: none;
}

#nav {
  background-color: rgb(207, 171, 162);
  padding: 20px;
}

#heroImage {
  height:10em;
  margin-bottom: 1em;
  /* background-color: rgb(207, 171, 162); */
}


/* For sales.html specifically */

table {
  background-color: white;
  /* border: .5px, solid, gray;  */
  /* padding: .5px; */
}

th{
  color: white;
  padding: 10px;
  text-align: center;
}

tr{
  color: white;
  text-align: center;
}

#lineBreakDiv{
  height: 150px;
}

#form, label textarea, button, h1, h2{
  /* background-color: white; */
  color: white;
}
