*{
  background-color: rgb(207, 171, 162);
  font-family: 'Permanent Marker', cursive;
  
}

table {
  background-color: white;
  /* border: .5px, solid, gray;  */
  /* padding: .5px; */
}


th{
  color: white;
  padding: 10px;
  text-align: center;
}

tr{
  color: white;
  text-align: center;
}

#lineBreakDiv{
  height: 150px;
}

#form, label textarea, button, h1, h2{
  /* background-color: white; */
  color: white;
}
