* {
  background-color: white;
  font-family: 'Permanent Marker', cursive;
  color:rgb(207, 171, 162);
}

h1 {
  color: black;
}

body {
  /* width:70%; */
  margin: 0 auto;
  text-align: center;
}

#content {
  overflow: 0 auto;
}

#nav, #heroImage, #footer {
  margin: 1%;
}

ul {
  background-color: rgb(207, 171, 162);
}

li {
  background-color: rgb(207, 171, 162);
  display: inline;
  padding: 0em 2em 0em 2em;
}

li a {
  background-color:rgb(207, 171, 162);
  color: white;
  text-decoration: none;
}

li a:hover{
  color: black;
}

#nav {
  background-color: rgb(207, 171, 162);
  padding: 20px;
}

#heroImage {
  height:10em;
  margin-bottom: 1em;
  /* background-color: rgb(207, 171, 162); */
}

h4 {
  background-color: white;
  color: rgb(207, 171, 162);
}

.aColumn1, .aColumn2, .aColumn3, .aColumn4, .aColumn5, .aColumn6 {
  width: 31.3%; 
  float: left;
  margin: 1%;
  background-color: rgb(207, 171, 162);
  padding-bottom: 20px;
  color: white; 
}

.aColumn3 {
  margin-right: 0%;
}

.aColumn6 {
  display:block;
  text-align: center;
}

#columnBlocker{
  height: 900px;
}

#heart{
height: 700px;
background-color: rgb(207, 171, 162);
}

#heart p{
  display:inline-block;
  margin-top:50px;
  margin-left: 40px;
  text-align:left;
  background-color: rgb(207,171,162);
  color:white;
  /* width: 600px; */
}

#familypic, #cookiepic{
  float:left;
  padding: 10px;
  margin: 10px; 
  display:block;
}

#cutterpic{
  float:right;
  padding: 10px;
  margin: 10px; 
  display:block;
}

#footerBlock{
  height:100px;
  display: block;
}

#footerNav{
  background-color: rgb(207, 171, 162);
  padding: 20px;
  margin-bottom: 20px;
}
